@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(231, 231, 231, 1);
  color: rgba(231, 231, 231, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.legacy-header.is-open .legacy-header-background {
  left: 0;
}
.legacy-header-button-wrapper {
  margin-left: auto;
}
.legacy-header-icon {
  display: none;
}

.legacy-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.legacy-navigation-list.is-open {
  right: 0;
}
.legacy-header-icon-menu {
  display: block;
}

.legacy-header-icon-button.is-open .legacy-header-icon-menu {
  display: none;
}

.legacy-header-icon-button.is-open .legacy-header-icon-close {
  display: block;
}

.legacy-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 48px;
  background: rgba(23, 23, 23, 1);
}

.legacy-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(23, 23, 23, 1);
}
.legacy-header.is-open .legacy-header-background {
  left: 0;
}
.legacy-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legacy-header-icon-menu {
  display: block;
}

.legacy-header-icon-button.is-open .legacy-header-icon-menu {
  display: none;
}

.legacy-header-icon-button.is-open .legacy-header-icon-close {
  display: block;
}

.legacy-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 24px;
  position: relative;
}

.legacy-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  border-radius: 0px 0px 16px 16px;
  gap: 8px;
  background: linear-gradient(180deg, #171717 0%, #261906 100%);
}

.legacy-navigation-list.is-open {
  right: 0;
}

.legacy-navigation-link {
  font-family: Alegreya;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(231, 231, 231, 1);
  width: 170px;
  display: block;
  text-align: center;
  padding-top: 8px;

  padding-bottom: 8px;

  gap: 10px;
  border-radius: 8px;
  border-width: 1px;

  border: 1px solid transparent;
}
.legacy-navigation-item-desk {
  font-family: Alegreya;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}
.legacy-navigation-link:hover,
.legacy-navigatioт-link:focus {
  text-decoration: none;
  border: 1px solid rgba(254, 228, 151, 1);
}

.legacy-header.is-open {
  background-color: transparent;
}

.legacy-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .legacy-navigation-img {
    display: flex;
  }
  .legacy-policy-terms-header-icon-menu {
    display: none;
  }

  .legacy-header {
    width: 100%;
    height: 70px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .legacy-header-background {
  }
  .legacy-header-icon-button {
    display: none;
  }
  .legacy-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .legacy-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 10px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .legacy-navigation-link {
    font-family: Alegreya;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -2%;
    width: 140px;
    text-decoration: none;
  }

  .legacy-navigation-item-desk {
    display: none;
  }
}
.legacy-home {
  width: 375px;
  height: 812px;
  padding: 64px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/1_home_mob.png");
  margin: auto;
}

.legacy-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legacy-home-title {
  width: 375px;
  height: 156px;
}

.legacy-home-text {
  font-family: Alegreya;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -2%;
  text-align: center;
  color: rgba(254, 228, 151, 1);
  text-shadow: 2px 2px 2px rgba(23, 23, 23, 1);
  padding: 359px 0 16px;
}

.legacy-home-google-button-image {
  width: 286px;
  height: 78px;
}

.legacy-home-google-button-link:hover .legacy-home-google-button-image {
  content: url("/img/home/11.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .legacy-home {
    width: 1440px;
    height: 900px;
    padding: 166px 0px 0px;
    background-image: url("/img/home/1_home.png");
  }

  .legacy-home-title {
    width: 544px;
    height: 259px;
  }

  .legacy-home-text {
    font-family: Alegreya;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2%;
    text-shadow: 2px 2px 2px rgba(23, 23, 23, 1);
    padding: 140px 0 42px;
  }
}

.legacy-uniqueness {
  width: 375px;
  background: rgba(23, 23, 23, 1);
  margin: auto;
  padding: 0px 16px 40px;
}
.legacy-uniqueness-div {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.legacy-uniqueness-text {
  font-family: Alegreya;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -1px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .legacy-uniqueness {
    width: 1440px;
    padding: 0px 80px 60px;
  }
  .legacy-uniqueness-div {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .legacy-uniqueness-text {
    font-family: Alegreya;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;

    text-align: left;
  }
}
.legacy-about {
  padding: 0px 16px 40px;
  margin: auto;
  width: 375px;
  background: rgba(23, 23, 23, 1);
}

.legacy-about-title {
  font-family: Alegreya;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -2%;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(23, 23, 23, 1);
  color: rgba(254, 228, 151, 1);
  background: rgba(23, 23, 23, 1);
  width: 375px;
  height: 96px;
  padding-top: 40px;
  padding-bottom: 16px;
  margin-left: -16px;
}

.legacy-about-text {
  padding-top: 32px;
  font-family: Alegreya;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -0.3px;
  text-align: center;
}
.legacy-why-img {
  margin: 24px 0;
}
.legacy-why-list {
  padding-top: px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.legacy-why-item {
  width: 343px;
  height: 106px;
  border-radius: 8px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border: 1px solid rgba(254, 228, 151, 1);
  font-family: Alegreya;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;

  text-align: center;
}

@media screen and (min-width: 1200px) {
  .legacy-about {
    padding: 0px 80px 60px;
    width: 1440px;
  }
  .legacy-about-title {
    width: 1440px;
    height: 124px;
    padding-top: 60px;
    padding-right: 10px;
    padding-bottom: 16px;
    padding-left: 10px;
    margin-left: -80px;
    font-family: Alegreya;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2%;
    text-align: center;
  }

  .legacy-about-text {
    padding-top: 40px;
    font-family: Alegreya;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
    text-align: center;
  }
  .legacy-why-img {
    content: url("/img/1\ \(1\).png");
    margin: 40px 0 24px;
  }
  .legacy-why-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: center;
  }

  .legacy-why-item {
    width: 343px;
    height: 106px;
    border-radius: 8px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    border: 1px solid rgba(254, 228, 151, 1);
    font-family: Alegreya;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;

    text-align: center;
  }
}
.legacy-how {
  width: 375px;
  margin: auto;
  padding: 0px 16px 40px;
}
.legacy-how-div {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.legacy-how-img {
  width: 343px;
  height: 216px;

  border-radius: 8px;
}
.legacy-how-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.legacy-how-item {
  border-radius: 8px;
  padding-top: 16px;
  padding-right: 15px;
  padding-bottom: 16px;
  padding-left: 15px;
  background: rgba(23, 23, 23, 1);
}

.legacy-how-text-bold {
  font-family: Alegreya;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -2%;
  color: rgba(254, 228, 151, 1);
}

.legacy-how-text {
  font-family: Alegreya;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -2%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .legacy-how {
    width: 1440px;

    padding: 0 80px 90px;
  }
  .legacy-how-div {
    padding-top: 40px;
    display: flex;
    flex-direction: row-reverse;
    gap: 26px;
  }
  .legacy-how-img {
    width: 814px;
    height: 514px;
    border-radius: 16px;
  }
  .legacy-how-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .legacy-how-item {
    width: 440px;
    height: 90px;
    border-radius: 8px;
    padding: 16px;
  }

  .legacy-how-text-bold {
    font-family: Alegreya;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -2%;
  }

  .legacy-how-text {
    font-family: Alegreya;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -1px;

    padding-top: 8px;
  }
}

.legacy-characters {
  padding: 0px 16px 40px;
  margin: auto;
  width: 375px;
}

.legacy-characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 24px;
}
.legacy-characters-item {
  width: 343px;
  height: 421px;
  border-radius: 8px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  background: rgba(23, 23, 23, 1);
}
.legacy-characters-img {
  width: 279px;
  height: 279px;
  border-radius: 8px;
}

.legacy-characters-text-bold {
  font-family: Alegreya;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -2%;
  text-align: center;
  padding: 24px 0 16px;
  color: rgba(254, 228, 151, 1);
}

.legacy-characters-text {
  font-family: Alegreya;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -1px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .legacy-characters {
    padding: 0 80px 60px;
    width: 1440px;
  }
  .legacy-characters-list {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    gap: 32px;
  }
  .legacy-characters-item {
    width: 230px;
    height: 370px;
    border-radius: 8px;
    padding: 8px;
  }
  .legacy-characters-img {
    width: 214px;
    height: 214px;
    border-radius: 8px;
  }
}

.legacy-reviews {
  width: 375px;
  margin: auto;
  padding: 0px 16px 40px;
}

.legacy-reviews-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.legacy-reviews-item {
  border-radius: 8px;
  padding: 16px;
  background: rgba(23, 23, 23, 1);
}

.legacy-reviews-item-top {
  display: flex;
  gap: 16px;
  align-items: center;
}

.legacy-reviews-text-bold {
  font-family: Alegreya;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -2%;
}

.legacy-reviews-text {
  font-family: Alegreya;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -2%;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .legacy-reviews {
    width: 1440px;

    padding: 0 80px 60px;
  }
  .legacy-reviews-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 26px;
  }

  .legacy-reviews-item {
    width: 235px;
    height: 142px;
    border-radius: 8px;
    padding: 16px;
  }
}

.legacy-faq {
  padding: 0px 16px 40px;
  margin: auto;
  width: 375px;
}

.legacy-faq-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.legacy-faq-item {
  border-radius: 8px;
  background: rgba(23, 23, 23, 1);
}

.legacy-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  font-family: Alegreya;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -1px;
  color: rgba(254, 228, 151, 1);
  background: rgba(23, 23, 23, 1);
}

.legacy-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.legacy-faq-answer {
  display: none;

  background: rgba(231, 231, 231, 1);

  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-family: Alegreya;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -2%;
  color: rgba(23, 23, 23, 1);
  border: 2px solid rgba(23, 23, 23, 1);
}

@media screen and (min-width: 1200px) {
  .legacy-faq {
    padding: 0 80px 60px;
    width: 1440px;
  }
  .legacy-faq-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 1062px;
    margin: auto;
  }

  .legacy-faq-question {
    font-family: Alegreya;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
  }

  .legacy-faq-answer {
    font-family: Alegreya;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -2%;
  }
}
.legacy-gallery {
  width: 375px;
  height: 544px;
  margin: auto;
  padding: 40px 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/9_cta_mob.png");
  display: flex;
  flex-direction: column;

  align-items: center;
}
.legacy-gallery-title {
  font-family: Alegreya;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -2%;
  text-align: center;
  color: rgba(254, 228, 151, 1);
  width: 257px;
}
.legacy-gallery-text {
  font-family: Alegreya;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -2%;
  text-align: center;
  padding: 32px 12px 190px;
}
@media screen and (min-width: 1200px) {
  .legacy-gallery {
    width: 1440px;
    height: 564px;
    padding: 80px 0 0;
    background-image: url("/img/9_cta.png");
  }
  .legacy-gallery-title {
    font-family: Alegreya;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2%;

    width: auto;
  }
  .legacy-gallery-text {
    font-family: Alegreya;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -2%;

    padding: 40px 0;
  }
}

.legacy-features {
  width: 375px;
  height: 1440px;
  margin: auto;
  padding: 0px 16px 0px;
  background-image: url("/img/features/4_gameFeatures_mob.png");
}

.legacy-features-list {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.legacy-features-item {
  border-radius: 8px;
  background: rgba(23, 23, 23, 1);
  border: 1px solid rgba(254, 228, 151, 1);
  padding: 16px;
}

.legacy-features-item-two {
  display: flex;
  align-items: center;
  gap: 8px;
}

.legacy-features-text-bold {
  font-family: Alegreya;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -1px;
  color: rgba(254, 228, 151, 1);
}

.legacy-features-text {
  font-family: Alegreya;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -2%;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .legacy-features {
    width: 1440px;
    height: 876px;
    padding: 0 80px;
    background-image: url("/img/features/4_gameFeatures.png");
  }
  .legacy-features-list {
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    column-gap: 222px;
  }

  .legacy-features-item {
    width: 420px;
    height: 188px;
    border-radius: 8px;
    padding: 16px;
  }

  .legacy-features-text-bold {
    font-family: Alegreya;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
  }

  .legacy-features-text {
    font-family: Alegreya;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -2%;

    padding-top: 16px;
  }
}

.legacy-policy-terms-container {
  padding: 48px 16px 40px;
  width: 375px;
  margin: auto;
  color: rgba(23, 23, 23, 1);
  font-family: Alegreya;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -2%;
}

.legacy-policy-terms-title {
  font-family: Alegreya;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -2%;
  text-align: center;
  color: rgba(254, 228, 151, 1);
  text-shadow: 2px 2px 2px rgba(23, 23, 23, 1);
  color: rgba(254, 228, 151, 1);
  background: rgba(23, 23, 23, 1);
  width: 375px;
  height: 96px;
  padding-top: 40px;

  padding-bottom: 16px;

  margin-left: -16px;
}

.legacy-policy-terms-text {
  padding-top: 20px;
  font-family: Alegreya;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -2%;
}

.legacy-policy-terms-texts {
  padding-top: 8px;
}

.legacy-policy-terms-text-one {
  padding-top: 20px;
}

.legacy-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.legacy-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.legacy-email-link {
  color: inherit;
  text-decoration: none;
}

.legacy-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .legacy-policy-terms-container {
    padding: 50px 189px 40px;
    width: 1440px;
    font-family: Alegreya;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -2%;
  }

  .legacy-policy-terms-title {
    font-family: Alegreya;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2%;
    text-align: center;
    width: 1440px;
    height: 124px;
    padding-top: 60px;
    margin-left: -189px;
    padding-bottom: 16px;
  }

  .legacy-policy-terms-text {
    padding-top: 40px;
    font-family: Alegreya;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -2%;
  }

  .legacy-policy-terms-text-one {
    padding-top: 30px;
  }

  .legacy-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.legacy-footer {
  width: 375px;
  margin: auto;

  background: rgba(23, 23, 23, 1);

  padding: 40px 0px;
}

.legacy-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.legacy-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.legacy-footer-text {
  font-family: Alegreya;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -2%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: rgba(231, 231, 231, 1);
}

.legacy-footer-copyright {
  font-family: Alegreya;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -2%;
}

@media screen and (min-width: 1200px) {
  .legacy-footer {
    width: 1440px;
    padding: 60px 0px;
  }

  .legacy-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 48px;
  }

  .legacy-footer-text {
    font-family: Alegreya;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -2%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .legacy-footer-copyright {
    font-family: Alegreya;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -2%;
  }
}

.legacy-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px 16px;
  background: rgba(23, 23, 23, 1);
  z-index: 1000;
  display: none;
}

.legacy-cookie-popup-text-two {
  font-family: Alegreya;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -1px;
  text-align: center;
}

.legacy-cookie-button-container {
  padding: 32px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.legacy-cookie-button {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(254, 228, 151, 1);
  width: 150px;
  padding: 10px 0;
  font-family: Alegreya;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(231, 231, 231, 1);
}

#accept-cookies {
  background: rgba(254, 228, 151, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 141px;
  padding: 10px 0;
  border-radius: 8px;
  color: rgba(23, 23, 23, 1);
}

.legacy-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .legacy-cookie-popup-text-two {
    font-family: Alegreya;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -2%;
    text-align: center;
  }

  .legacy-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .legacy-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
